<!-- <div class="container-fluid">  
  <h2>Registration Form</h2>
  <form action="" [formGroup]="registrationForm">
      {{registrationForm.value | json}}
    <div class="form-group">
      <Label>Username:</Label>
        <input type="text" class="form-control" formControlName="username"
        [class.is-invalid]="username.invalid && username.touched">
        <div *ngIf="username.invalid && username.touched">
            <small class="text-danger" *ngIf="username.errors?.required">username is required.</small>
            <small class="text-danger" *ngIf="username.errors?.minlength">username must be at least 3 characters.</small>
            <small class="text-danger" *ngIf="username.errors?.forbiddenName">'{{username.errors?.forbiddenName.value}}' username not allowed.</small>
        </div>                        
    </div>

    <div class="form-group">
      <label >Email: </label>
      <button class="btn btn-secondary btn-sm m-2" type="button" (click)="addAlternateEmails()">Add e-mail</button>
      <input type="text" formControlName="email" class="form-control" [class.is-invalid]="email.invalid && email.touched">
      <small class="text-danger" *ngIf="email.invalid && email.touched">email is required.</small>
      <div formArrayName="alternateEmails" *ngFor="let email of alternateEmails.controls; let i=index">
        <div class="form-group">
          <label >{{i+1}}. Email</label>
          <input type="text" class="form-control my-1" [formControlName]=i>
        </div>
      </div>
    </div>

    <div class="form-check mb-3">
      <input class="form-check-input" formControlName="subscribe" type="checkbox">
      <label for="" class="form-check-label">
        Subscribe for promotions.
      </label>
    </div>
    <div class="form-group">
      <Label>Password:</Label>
        <input type="password" class="form-control" formControlName="password">
    </div>
  
    <div class="form-group">
      <Label>Confirm Password:</Label>
        <input type="password" [class.is-invalid]="registrationForm.errors?.misMatch" class="form-control" formControlName="confirmPassword">
        <small class="text-danger" *ngIf="registrationForm.errors?.misMatch">Enter same password.</small>
    </div>
    <div formGroupName="address"> 
      <div class="form-group">
        <Label>City:</Label>
          <input type="text" class="form-control" formControlName="city">
      </div>
  
      <div class="form-group">
        <Label>State:</Label>
          <input type="text" class="form-control" formControlName="state">
      </div>
  
      <div class="form-group">
        <Label>Postal Code:</Label>
          <input type="text" class="form-control" formControlName="postalCode">
      </div>
    </div>
    
    <button class="btn btn-primary" type="submit">Register</button>    
    <button class="btn btn-secondary ml-3" type="button" (click)="loadApiData()">Load Api Data</button>  
  </form>  
</div> -->
<!-- <app-insert-product></app-insert-product> -->
<!-- <app-product-list></app-product-list> -->
<router-outlet></router-outlet>