<h3 class="text-secondary">Product List is here.</h3>
<div id="list-parent">
  <div class="list-group" *ngFor="let product of productList">  
    <a href="#productCollapse{{product.product_ID}}" data-toggle="collapse" class="list-group-item">{{product.product_NAME}}</a>
    <div class="collapse" id="productCollapse{{product.product_ID}}">
      <div class="card card-body" data-parent="list-parent">
        <h6 class="display-4 text-info m-auto">Product Name: {{product.product_NAME}}</h6>        
        <h6 class="display-4 text-secondary m-auto">Sale Price: {{product.product_PRICE}}</h6>
        <h6 class="display-4 text-success m-auto">Available Stock: {{product.product_STOCK}}</h6>        
        <h6 class="text-dark m-auto">Item Description: {{product.product_DESCRIPTION}}</h6>
        <div class="list-group list-group-horizontal">                        
          <a [routerLink]="['/edit-product',product.product_ID]" class="text-warning list-group-item">edit</a>          
          <a [routerLink]="[]" (click)="deleteProduct(product.product_ID, product.product_NAME)" class="text-danger list-group-item">delete</a>          
        </div>        
      </div>
    </div>
  </div>
</div>

 <!-- <div id="accordion">

    <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#collapseOne">
          Collapsible Group Item #1
        </a>
      </div>
      <div id="collapseOne" class="collapse show" data-parent="#accordion">
        <div class="card-body">
          Lorem ipsum..
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
          Collapsible Group Item #2
        </a>
      </div>
      <div id="collapseTwo" class="collapse" data-parent="#accordion">
        <div class="card-body">
          Lorem ipsum..
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
          Collapsible Group Item #3
        </a>
      </div>
      <div id="collapseThree" class="collapse" data-parent="#accordion">
        <div class="card-body">
          Lorem ipsum..
        </div>
      </div>
    </div>
  
  </div>  -->