<div class="container-fluid" *ngIf="selectedproduct">
  {{editProduct.value | json}}
  <h4 *ngIf="submitted" class="text-info text">{{product_NAME.value}} has been edited successfull.</h4>
  <h2>Editing a product</h2>
  <!-- <h4 *ngIf="submitted" class="text-success text">{{product_NAME.value}} has been submitted successfull.</h4> -->
  <form [formGroup]="editProduct" (ngSubmit)="onSubmit()">
    <!-- {{insertProduct.value | json}} -->
    
    <div class="form-group">
      <label for="product_NAME" >Product Name:</label>
      <input required type="text" name="product_NAME" formControlName="product_NAME" class="form-control">
    </div>
    <div class="form-group">
      <label for="product_PRICE">Sale Price:</label>
      <input required type="number" name="product_PRICE" formControlName="product_PRICE" class="form-control">
    </div>    
    <div class="form-group">
      <label for="product_STOCK">Stock:</label>
      <input required type="number" name="product_STOCK" formControlName="product_STOCK" class="form-control">
    </div>
    <div class="form-group">
      <label for="product_DESCRIPTION">Description:</label>
      <textarea required class="form-control" rows="5" formControlName="product_DESCRIPTION"></textarea>
    </div> 
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="customCheck" formControlName="productcategory_ID">
      <label class="custom-control-label" for="productcategory_ID">{{selectedproduct.productcategory_ID.productcatergory_NAME}}</label>
    </div>
    <button [disabled]="editProduct.invalid && editProduct" class="btn btn-warning my-2" type="submit">Edit product</button>
  </form>
</div>
