<div class="container-fluid">
  <h2>Entering a product</h2>
  <h4 *ngIf="submitted" class="text-success text">{{product_NAME.value}} has been submitted successfull.</h4>
  <form [formGroup]="insertProduct" (ngSubmit)="onSubmit()">
    {{insertProduct.value | json}}
    <div class="form-group">
      <label for="product_NAME">Product Name:</label>
      <input required type="text" name="product_NAME" formControlName="product_NAME" class="form-control">
    </div>
    <div class="form-group">
      <label for="product_PRICE">Sale Price:</label>
      <input required type="number" name="product_PRICE" formControlName="product_PRICE" class="form-control">
    </div>    
    <div class="form-group">
      <label for="product_STOCK">Stock:</label>
      <input required type="number" name="product_STOCK" formControlName="product_STOCK" class="form-control">
    </div>
    <div class="form-group">
      <label for="product_DESCRIPTION">Description:</label>
      <textarea required class="form-control" rows="5" formControlName="product_DESCRIPTION"></textarea>
    </div> 
    <div class="form-group">
        <select formControlName="productcategory_ID" class="custom-select" name="productcategory_ID" [class.is-invalid]="(hasError && productcategory_ID.touched)" (change)="validateType(productcategory_ID.value)">
        <option  value="default" selected>Select a Product Type</option>
        <option *ngFor="let type of productTypes" value={{type.productcatergory_ID}}>{{type.productcatergory_NAME}}</option>        
        </select>
        <small class="text-danger" *ngIf="hasError && productcategory_ID.touched">Please choose an appropriete type.</small> 
      </div>
    <button [disabled]="insertProduct.invalid" class="btn btn-primary" type="submit">Insert product</button>
  </form>
</div>
